In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
req=requests.get('https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20180124')

In [5]:
req

In [6]:
html=req.text

In [8]:
soup=BeautifulSoup(html,'html.parser')

In [95]:
columns=soup.select('div.table-responsive > table > thead > tr > th')

In [96]:
columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)
df

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Market Cap]
Index: []

In [106]:
contents=soup.select('div.table-responsive > table > tbody > tr ')
#contents[0].text.strip('\n').split('\n')
dfcontent=[]
alldfcontents=[]
contents[0].find_all("td")

[<td class="text-left">Jan 24, 2018</td>,
 <td data-format-fiat="" data-format-value="10903.4">10903.40</td>,
 <td data-format-fiat="" data-format-value="11501.4">11501.40</td>,
 <td data-format-fiat="" data-format-value="10639.8">10639.80</td>,
 <td data-format-fiat="" data-format-value="11359.4">11359.40</td>,
 <td data-format-market-cap="" data-format-value="9940990000.0">9,940,990,000</td>,
 <td data-format-market-cap="" data-format-value="1.83419e+11">183,419,000,000</td>]

In [107]:
for content in contents:
    tds=content.find_all("td")
    for td in tds:
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]

In [120]:
df=pd.DataFrame(columns=columnlist, data=alldfcontents)

In [121]:
df

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jan 24, 2018",10903.40,11501.40,10639.80,11359.40,"9,940,990,000","183,419,000,000"
1,"Jan 23, 2018",10944.50,11377.60,10129.70,10868.40,"9,660,610,000","184,087,000,000"
2,"Jan 22, 2018",11633.10,11966.40,10240.20,10931.40,"10,537,400,000","195,645,000,000"
3,"Jan 21, 2018",12889.20,12895.90,11288.20,11600.10,"9,935,180,000","216,740,000,000"
4,"Jan 20, 2018",11656.20,13103.00,11656.20,12899.20,"11,801,700,000","195,979,000,000"
5,"Jan 19, 2018",11429.80,11992.80,11172.10,11607.40,"10,740,400,000","192,150,000,000"
6,"Jan 18, 2018",11198.80,12107.30,10942.50,11474.90,"15,020,400,000","188,242,000,000"
7,"Jan 17, 2018",11431.10,11678.00,9402.29,11188.60,"18,830,600,000","192,123,000,000"
8,"Jan 16, 2018",13836.10,13843.10,10194.90,11490.50,"18,853,800,000","232,517,000,000"
9,"Jan 15, 2018",13767.30,14445.50,13641.70,13819.80,"12,750,800,000","231,334,000,000"
10,"Jan 14, 2018",14370.80,14511.80,13268.00,13772.00,"11,084,100,000","241,447,000,000"
11,"Jan 13, 2018",13952.40,14659.50,13952.40,14360.20,"12,763,600,000","234,391,000,000"
12,"Jan 12, 2018",13453.90,14229.90,13158.10,13980.60,"12,065,700,000","225,986,000,000"
13,"Jan 11, 2018",14968.20,15018.80,13105.90,13405.80,"16,534,100,000","251,387,000,000"
14,"Jan 10, 2018",14588.50,14973.30,13691.20,14973.30,"18,500,800,000","244,981,000,000"
15,"Jan 09, 2018",15123.70,15497.50,14424.00,14595.40,"16,660,000,000","253,935,000,000"
16,"Jan 08, 2018",16476.20,16537.90,14208.20,15170.10,"18,413,900,000","276,612,000,000"
17,"Jan 07, 2018",17527.30,17579.60,16087.70,16477.60,"15,866,000,000","294,222,000,000"
18,"Jan 06, 2018",17462.10,17712.40,16764.60,17527.00,"18,314,600,000","293,091,000,000"
19,"Jan 05, 2018",15477.20,17705.20,15202.80,17429.50,"23,840,900,000","259,748,000,000"
20,"Jan 04, 2018",15270.70,15739.70,14522.20,15599.20,"21,783,200,000","256,250,000,000"
21,"Jan 03, 2018",14978.20,15572.80,14844.50,15201.00,"16,871,900,000","251,312,000,000"
22,"Jan 02, 2018",13625.00,15444.60,13163.60,14982.10,"16,846,600,000","228,579,000,000"
23,"Jan 01, 2018",14112.20,14112.20,13154.70,13657.20,"10,291,200,000","236,725,000,000"
24,"Dec 31, 2017",12897.70,14377.40,12755.60,14156.40,"12,136,300,000","216,326,000,000"
25,"Dec 30, 2017",14681.90,14681.90,12350.10,12952.20,"14,452,600,000","246,224,000,000"
26,"Dec 29, 2017",14695.80,15279.00,14307.00,14656.20,"13,025,500,000","246,428,000,000"
27,"Dec 28, 2017",15864.10,15888.40,13937.30,14606.50,"12,336,500,000","265,988,000,000"
28,"Dec 27, 2017",16163.50,16930.90,15114.30,15838.50,"12,487,600,000","270,976,000,000"
29,"Dec 26, 2017",14036.60,16461.20,14028.90,16099.80,"13,454,300,000","235,294,000,000"
...,...,...,...,...,...,...,...
1703,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000"
1704,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000"
1705,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000"
1706,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000"
1707,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000"
1708,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000"
1709,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000"
1710,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000"
1711,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000"
1712,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000"
1713,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000"
1714,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000"
1715,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000"
1716,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000"
1717,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000"
1718,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000"
1719,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000"
1720,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000"
1721,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000"
1722,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000"
1723,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000"
1724,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000"
1725,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000"
1726,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000"
1727,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000"
1728,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000"
1729,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000"
1730,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000"
1731,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000"
1732,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

In [122]:
df.dtypes

Date          object
Open          object
High          object
Low           object
Close         object
Volume        object
Market Cap    object
dtype: object

In [123]:
df['Close']=pd.to_numeric(df.Close,errors='coerce')

In [124]:
df.dtypes

Date           object
Open           object
High           object
Low            object
Close         float64
Volume         object
Market Cap     object
dtype: object

In [127]:
newMarketCap=[]
for number in df['Market Cap']:
    lst=number.split(',')
    total=''
    for i in lst:
        total+=str(i)
    newMarketCap.append(int(total))

[183419000000,
 184087000000,
 195645000000,
 216740000000,
 195979000000,
 192150000000,
 188242000000,
 192123000000,
 232517000000,
 231334000000,
 241447000000,
 234391000000,
 225986000000,
 251387000000,
 244981000000,
 253935000000,
 276612000000,
 294222000000,
 293091000000,
 259748000000,
 256250000000,
 251312000000,
 228579000000,
 236725000000,
 216326000000,
 246224000000,
 246428000000,
 265988000000,
 270976000000,
 235294000000,
 234590000000,
 244824000000,
 233748000000,
 266381000000,
 278827000000,
 297526000000,
 320242000000,
 320000000000,
 326141000000,
 297376000000,
 277936000000,
 274269000000,
 292900000000,
 283155000000,
 258147000000,
 253782000000,
 276415000000,
 297787000000,
 238600000000,
 199390000000,
 195389000000,
 189172000000,
 185258000000,
 183490000000,
 170436000000,
 165537000000,
 168367000000,
 164104000000,
 156221000000,
 146789000000,
 137632000000,
 134816000000,
 137444000000,
 134851000000,
 136967000000,
 134167000000,
 129595000000,
 128425000000,
 131026000000,
 122164000000,
 110667000000,
 109434000000,
 99029000000,
 104980000000,
 110362000000,
 119607000000,
 124146000000,
 119041000000,
 117056000000,
 123379000000,
 123388000000,
 119376000000,
 118084000000,
 112910000000,
 107287000000,
 102130000000,
 101833000000,
 95819800000,
 96369600000,
 98225400000,
 95685100000,
 91954200000,
 98781600000,
 99941600000,
 100438000000,
 99763200000,
 94947900000,
 92867000000,
 93190200000,
 95469300000,
 94559000000,
 97011900000,
 93803000000,
 90812400000,
 80256700000,
 79578200000,
 79351800000,
 76656500000,
 73575400000,
 72565100000,
 71810600000,
 70233700000,
 71712500000,
 73181300000,
 72963200000,
 72047300000,
 69136600000,
 69219200000,
 69633200000,
 64579200000,
 65161000000,
 61061100000,
 62954300000,
 60190000000,
 60152300000,
 64677600000,
 64918500000,
 67520300000,
 59514100000,
 59757800000,
 60271600000,
 52453500000,
 64191600000,
 68432200000,
 69033400000,
 68256000000,
 70018100000,
 70017200000,
 76220200000,
 75945000000,
 72418700000,
 69954400000,
 75955500000,
 75841700000,
 81060600000,
 77748400000,
 75322300000,
 75556600000,
 72553800000,
 72467900000,
 71809200000,
 72249100000,
 71595100000,
 68363900000,
 67553000000,
 66051000000,
 67567100000,
 69192700000,
 68333100000,
 71406500000,
 72389100000,
 69342700000,
 71425500000,
 67112300000,
 64034100000,
 60242100000,
 55668000000,
 55134700000,
 56424900000,
 55590300000,
 52987300000,
 53720900000,
 47778200000,
 46276200000,
 44666400000,
 44950800000,
 47321800000,
 45535800000,
 44890700000,
 46246700000,
 44144400000,
 41816500000,
 42455000000,
 45410100000,
 44995600000,
 46231100000,
 43929600000,
 46719000000,
 37356800000,
 38227800000,
 36749400000,
 31795000000,
 32767600000,
 36681300000,
 38823100000,
 39511000000,
 38355900000,
 39224200000,
 41509000000,
 42283200000,
 41417700000,
 42864200000,
 42851400000,
 42760800000,
 42067900000,
 41037200000,
 40010500000,
 40928200000,
 41689100000,
 42150300000,
 41906700000,
 40677900000,
 42514000000,
 42783800000,
 44932900000,
 44415900000,
 44143700000,
 44440800000,
 42498000000,
 41800600000,
 43539300000,
 41217200000,
 40484100000,
 40971300000,
 44528300000,
 43934100000,
 48391200000,
 48208700000,
 46331400000,
 45987100000,
 44557100000,
 46989800000,
 44061000000,
 41133900000,
 41708200000,
 40817100000,
 39344600000,
 37446200000,
 35786700000,
 36897000000,
 35323500000,
 33595900000,
 35917100000,
 37950600000,
 39995400000,
 37949200000,
 35822600000,
 33393600000,
 33779400000,
 32422400000,
 30999000000,
 29710500000,
 28204800000,
 28446300000,
 29532600000,
 29405100000,
 28132300000,
 30131100000,
 29060600000,
 28668100000,
 28132200000,
 26056500000,
 25768500000,
 25395600000,
 25133100000,
 24311900000,
 23707100000,
 23170200000,
 21981800000,
 21548400000,
 21479800000,
 21476000000,
 20889200000,
 20627900000,
 20372300000,
 19705400000,
 20066200000,
 19913900000,
 20020700000,
 19719900000,
 19734800000,
 19433800000,
 19260500000,
 19085100000,
 18996500000,
 19043800000,
 19541300000,
 19600800000,
 19316000000,
 19311200000,
 19134400000,
 19068600000,
 19168500000,
 18302600000,
 18435700000,
 18619000000,
 17924600000,
 17559400000,
 17413000000,
 16679000000,
 16929800000,
 16990900000,
 16964500000,
 15785000000,
 15814800000,
 15204800000,
 16857000000,
 17043400000,
 18187100000,
 17125600000,
 16829800000,
 15846000000,
 17838700000,
 19141800000,
 20293700000,
 20110400000,
 19978200000,
 19807700000,
 19073300000,
 18093700000,
 19275300000,
 18640900000,
 19819800000,
 20627100000,
 20531900000,
 20316000000,
 20688800000,
 20253700000,
 19829800000,
 19104800000,
 19113600000,
 18837300000,
 18518900000,
 18939500000,
 18974400000,
 18075200000,
 18033400000,
 17456900000,
 16960200000,
 17056600000,
 16964800000,
 16589600000,
 16289100000,
 16264100000,
 16028000000,
 16141500000,
 16214700000,
 15976700000,
 16083600000,
 17197100000,
 17156700000,
 16796600000,
 16605400000,
 16847400000,
 16648800000,
 16326100000,
 15977800000,
 15667900000,
 14859700000,
 14844900000,
 14874000000,
 14835800000,
 14810400000,
 14551200000,
 14380700000,
 14681400000,
 14918800000,
 14863600000,
 14432000000,
 14472100000,
 14311700000,
 14648900000,
 13383900000,
 13234600000,
 13174300000,
 13285200000,
 12939100000,
 12477600000,
 14615700000,
 14522600000,
 14694900000,
 14611400000,
 14534400000,
 16314100000,
 18604000000,
 16795400000,
 16426600000,
 16055100000,
 15491200000,
 15440700000,
 15630200000,
 15670000000,
 15020500000,
 14593300000,
 14407800000,
 14450100000,
 14810300000,
 13888600000,
 13393800000,
 12853700000,
 12717600000,
 12691100000,
 12694800000,
 12599600000,
 12498800000,
 12511700000,
 12512900000,
 12521500000,
 12349800000,
 12423600000,
 12394500000,
 12344000000,
 12312500000,
 12248900000,
 12159400000,
 12393100000,
 12363600000,
 12467800000,
 12134800000,
 11949200000,
 11791600000,
 11790900000,
 11727800000,
 11773800000,
 11869600000,
 11851100000,
 11916500000,
 12029000000,
 11834200000,
 11698900000,
 12027500000,
 12025400000,
 11846000000,
 11911300000,
 11370700000,
 11283400000,
 11214600000,
 11264500000,
 11447700000,
 11427200000,
 11542100000,
 11333000000,
 11224000000,
 11344800000,
 11233000000,
 11227200000,
 10996400000,
 11844300000,
 11647200000,
 11187700000,
 11207200000,
 11388800000,
 11007600000,
 10969800000,
 10812500000,
 10484000000,
 10424300000,
 10473500000,
 10479700000,
 10088400000,
 10050300000,
 10046700000,
 10164800000,
 10184000000,
 10221300000,
 10176800000,
 10195200000,
 10141600000,
 10125100000,
 10201000000,
 9855650000,
 9816270000,
 9852480000,
 9822100000,
 9745740000,
 9742370000,
 9705320000,
 9733330000,
 9714980000,
 9761330000,
 9696280000,
 9628250000,
 9616160000,
 9634530000,
 9661590000,
 9545830000,
 9575360000,
 9577520000,
 9469130000,
 9485280000,
 9584260000,
 9673140000,
 9681960000,
 9623950000,
 9637600000,
 9637020000,
 9688940000,
 9660080000,
 9645930000,
 9628560000,
 9887780000,
 9878730000,
 9931980000,
 9745120000,
 9679610000,
 9614140000,
 9652490000,
 9486370000,
 9120440000,
 9069550000,
 9118280000,
 9149730000,
 9093530000,
 9091830000,
 9023610000,
 9174990000,
 9147170000,
 9184700000,
 9234800000,
 9286930000,
 9199410000,
 9208210000,
 9114500000,
 9085820000,
 9074760000,
 9138030000,
 8970770000,
 9021180000,
 9258730000,
 9285530000,
 9307250000,
 9358770000,
 9286960000,
 9339660000,
 9365440000,
 9285940000,
 9083510000,
 9133690000,
 8943870000,
 8663670000,
 9574320000,
 9860620000,
 10340900000,
 10370100000,
 10338900000,
 10328100000,
 10281900000,
 10321900000,
 10431900000,
 10338600000,
 10263700000,
 10486600000,
 10490300000,
 10608600000,
 10606500000,
 10716800000,
 10434700000,
 10461700000,
 10387900000,
 10288400000,
 10474500000,
 10213100000,
 10215200000,
 10247300000,
 10493800000,
 10086900000,
 10673400000,
 10550300000,
 10749100000,
 10362700000,
 11086100000,
 10639600000,
 10570600000,
 10066400000,
 10119600000,
 10336800000,
 9882840000,
 10454900000,
 10442000000,
 9816730000,
 9373190000,
 10445300000,
 11540000000,
 11976700000,
 11859800000,
 11732600000,
 12038900000,
 10908900000,
 10736600000,
 11028900000,
 10511900000,
 9539850000,
 9052360000,
 9005920000,
 9103080000,
 9022250000,
 9149580000,
 8977700000,
 8955060000,
 8897080000,
 8395070000,
 8375000000,
 8288680000,
 8335100000,
 8243960000,
 8226500000,
 7375780000,
 7070010000,
 7008500000,
 6950690000,
 6921460000,
 6842470000,
 6900700000,
 6895230000,
 6813080000,
 7072090000,
 7057390000,
 7060730000,
 7114740000,
 7084760000,
 7084100000,
 7067270000,
 7028330000,
 7002230000,
 7150370000,
 7112510000,
 7114060000,
 7131120000,
 6947800000,
 6926990000,
 6978950000,
 6892690000,
 7002610000,
 6947430000,
 7049460000,
 6958330000,
 6889170000,
 7216190000,
 7143060000,
 7102490000,
 6968570000,
 6894280000,
 6951860000,
 6822320000,
 6726370000,
 6622450000,
 6604150000,
 6649170000,
 6631310000,
 6550350000,
 6541030000,
 6565470000,
 6520870000,
 6504290000,
 6467330000,
 6484410000,
 6515190000,
 6524680000,
 6533260000,
 6481350000,
 6483910000,
 6480470000,
 6436700000,
 6409540000,
 6385140000,
 6407840000,
 6521010000,
 6553700000,
 6423040000,
 6409500000,
 6394850000,
 6422730000,
 6417130000,
 6338430000,
 6341380000,
 6293610000,
 6274790000,
 6446330000,
 6404130000,
 6387190000,
 6377870000,
 6342780000,
 6302330000,
 6453260000,
 6384740000,
 6344960000,
 6330230000,
 6337370000,
 6233430000,
 6121400000,
 6276610000,
 6443890000,
 6474150000,
 6643810000,
 6684800000,
 6614980000,
 6600310000,
 6602810000,
 6476080000,
 6480650000,
 6417190000,
 6679400000,
 6689200000,
 6669260000,
 6421310000,
 6436980000,
 6341430000,
 6204150000,
 6108040000,
 6199850000,
 5975580000,
 5847990000,
 5771040000,
 5806110000,
 5713880000,
 5670880000,
 5720100000,
 5714760000,
 5865740000,
 5898960000,
 5613380000,
 5679530000,
 5651690000,
 5596090000,
 5729870000,
 5736760000,
 5753970000,
 5980180000,
 5937780000,
 5929520000,
 6083900000,
 5867300000,
 5779890000,
 6190940000,
 6338800000,
 5734760000,
 5843510000,
 5761940000,
 5842270000,
 5507790000,
 6489870000,
 6519110000,
 6553350000,
 6755220000,
 6761090000,
 6752210000,
 6828000000,
 6888600000,
 6472580000,
 6498830000,
 6515380000,
 6468180000,
 6519500000,
 6533630000,
 6473530000,
 6399190000,
 6508960000,
 6339010000,
 6356100000,
 6251440000,
 6838480000,
 6823120000,
 6645120000,
 6547850000,
 6556960000,
 6636280000,
 6925030000,
 6942950000,
 6825640000,
 6807850000,
 6962090000,
 6640850000,
 6480070000,
 6454430000,
 6761730000,
 6206150000,
 6244360000,
 6189620000,
 5908810000,
 5821140000,
 5813290000,
 5426180000,
 5388110000,
 5358040000,
 5394070000,
 5624580000,
 5534000000,
 5324610000,
 5318300000,
 5238500000,
 4886330000,
 4762230000,
 4805160000,
 4823700000,
 4861340000,
 4787340000,
 4850170000,
 4971880000,
 4969330000,
 4905260000,
 4746070000,
 4942420000,
 4994250000,
 5020700000,
 4657240000,
 5037510000,
 5631520000,
 5546240000,
 5692390000,
 5542680000,
 5745320000,
 6040410000,
 5973510000,
 5353680000,
 4820850000,
 4657890000,
 4856410000,
 4639690000,
 4496390000,
 4338430000,
 4211500000,
 4187410000,
 4154100000,
 4080140000,
 4037010000,
 3930500000,
 3970980000,
 3885570000,
 3859270000,
 3991620000,
 3870490000,
 3745090000,
 3711800000,
 3672370000,
 3608340000,
 3632110000,
 3599840000,
 3584120000,
 3565090000,
 3572730000,
 3617400000,
 3531230000,
 3497740000,
 3502460000,
 3482100000,
 3482190000,
 3462800000,
 3471280000,
 3505090000,
 3413630000,
 3431860000,
 3444730000,
 3433300000,
 3373850000,
 3381390000,
 3322420000,
 3383840000,
 3385770000,
 3406390000,
 3415440000,
 3349390000,
 3365740000,
 3368360000,
 3369190000,
 3435990000,
 3502520000,
 3479310000,
 3478410000,
 3551640000,
 3498750000,
 3499120000,
 3424420000,
 3355470000,
 3311080000,
 3340990000,
 3321180000,
 3352760000,
 3335220000,
 3345740000,
 3368880000,
 3268370000,
 3287220000,
 3228540000,
 3053250000,
 3314640000,
 3346760000,
 3379050000,
 3417200000,
 3293570000,
 3274860000,
 3742020000,
 3749260000,
 3797330000,
 3849530000,
 3828340000,
 3857090000,
 3920210000,
 3828500000,
 3843850000,
 3779770000,
 4048270000,
 4032820000,
 4077600000,
 4119190000,
 4065870000,
 4087610000,
 4052470000,
 4112610000,
 4155010000,
 4174360000,
 4250940000,
 4237650000,
 4222210000,
 4163470000,
 4155500000,
 3978990000,
 3997290000,
 3971960000,
 4017540000,
 3938930000,
 3956140000,
 4020820000,
 4001950000,
 4115410000,
 4143120000,
 4199450000,
 4468540000,
 4213280000,
 4093500000,
 3866510000,
 3889620000,
 3818970000,
 3875220000,
 3890430000,
 3741670000,
 3678800000,
 3662970000,
 3706320000,
 3774140000,
 3682790000,
 3562790000,
 3593900000,
 3487060000,
 3472580000,
 3439620000,
 3494730000,
 3531700000,
 3488460000,
 3503880000,
 3494910000,
 3558500000,
 3563010000,
 3581960000,
 3380500000,
 3331930000,
 3317080000,
 3280180000,
 3276290000,
 3263390000,
 3264420000,
 3257050000,
 3175520000,
 3213390000,
 3203980000,
 3191080000,
 3213320000,
 3212010000,
 3170730000,
 3274370000,
 3314780000,
 3370240000,
 3373380000,
 3370890000,
 3367340000,
 3367040000,
 3420480000,
 3391910000,
 3409830000,
 3338560000,
 3319140000,
 3288140000,
 3303650000,
 3357380000,
 3343940000,
 3366300000,
 3355680000,
 3344280000,
 3416690000,
 3426350000,
 3399290000,
 3418740000,
 3446790000,
 3353090000,
 3245660000,
 3337790000,
 3373650000,
 3394130000,
 3315980000,
 3279270000,
 3329190000,
 ...]

In [128]:
df['Market Cap']=pd.DataFrame(newMarketCap)

In [129]:
df['Market Cap']

0       183419000000
1       184087000000
2       195645000000
3       216740000000
4       195979000000
5       192150000000
6       188242000000
7       192123000000
8       232517000000
9       231334000000
10      241447000000
11      234391000000
12      225986000000
13      251387000000
14      244981000000
15      253935000000
16      276612000000
17      294222000000
18      293091000000
19      259748000000
20      256250000000
21      251312000000
22      228579000000
23      236725000000
24      216326000000
25      246224000000
26      246428000000
27      265988000000
28      270976000000
29      235294000000
            ...
1703      1495520000
1704      1478030000
1705      1489950000
1706      1413300000
1707      1384780000
1708      1374130000
1709      1363940000
1710      1368910000
1711      1376370000
1712      1379140000
1713      1319590000
1714      1274620000
1715      1242760000
1716      1315720000
1717      1279980000
1718      1288630000
1719      1311050000
1720      1255970000
1721      1259980000
1722      1219450000
1723      1248470000
1724      1289470000
1725      1254760000
1726      1089890000
1727      1180070000
1728      1292190000
1729      1542820000
1730      1597780000
1731      1491160000
1732      1500520000
Name: Market Cap, Length: 1733, dtype: int64

In [130]:
df

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jan 24, 2018",10903.40,11501.40,10639.80,11359.40,"9,940,990,000",183419000000
1,"Jan 23, 2018",10944.50,11377.60,10129.70,10868.40,"9,660,610,000",184087000000
2,"Jan 22, 2018",11633.10,11966.40,10240.20,10931.40,"10,537,400,000",195645000000
3,"Jan 21, 2018",12889.20,12895.90,11288.20,11600.10,"9,935,180,000",216740000000
4,"Jan 20, 2018",11656.20,13103.00,11656.20,12899.20,"11,801,700,000",195979000000
5,"Jan 19, 2018",11429.80,11992.80,11172.10,11607.40,"10,740,400,000",192150000000
6,"Jan 18, 2018",11198.80,12107.30,10942.50,11474.90,"15,020,400,000",188242000000
7,"Jan 17, 2018",11431.10,11678.00,9402.29,11188.60,"18,830,600,000",192123000000
8,"Jan 16, 2018",13836.10,13843.10,10194.90,11490.50,"18,853,800,000",232517000000
9,"Jan 15, 2018",13767.30,14445.50,13641.70,13819.80,"12,750,800,000",231334000000
10,"Jan 14, 2018",14370.80,14511.80,13268.00,13772.00,"11,084,100,000",241447000000
11,"Jan 13, 2018",13952.40,14659.50,13952.40,14360.20,"12,763,600,000",234391000000
12,"Jan 12, 2018",13453.90,14229.90,13158.10,13980.60,"12,065,700,000",225986000000
13,"Jan 11, 2018",14968.20,15018.80,13105.90,13405.80,"16,534,100,000",251387000000
14,"Jan 10, 2018",14588.50,14973.30,13691.20,14973.30,"18,500,800,000",244981000000
15,"Jan 09, 2018",15123.70,15497.50,14424.00,14595.40,"16,660,000,000",253935000000
16,"Jan 08, 2018",16476.20,16537.90,14208.20,15170.10,"18,413,900,000",276612000000
17,"Jan 07, 2018",17527.30,17579.60,16087.70,16477.60,"15,866,000,000",294222000000
18,"Jan 06, 2018",17462.10,17712.40,16764.60,17527.00,"18,314,600,000",293091000000
19,"Jan 05, 2018",15477.20,17705.20,15202.80,17429.50,"23,840,900,000",259748000000
20,"Jan 04, 2018",15270.70,15739.70,14522.20,15599.20,"21,783,200,000",256250000000
21,"Jan 03, 2018",14978.20,15572.80,14844.50,15201.00,"16,871,900,000",251312000000
22,"Jan 02, 2018",13625.00,15444.60,13163.60,14982.10,"16,846,600,000",228579000000
23,"Jan 01, 2018",14112.20,14112.20,13154.70,13657.20,"10,291,200,000",236725000000
24,"Dec 31, 2017",12897.70,14377.40,12755.60,14156.40,"12,136,300,000",216326000000
25,"Dec 30, 2017",14681.90,14681.90,12350.10,12952.20,"14,452,600,000",246224000000
26,"Dec 29, 2017",14695.80,15279.00,14307.00,14656.20,"13,025,500,000",246428000000
27,"Dec 28, 2017",15864.10,15888.40,13937.30,14606.50,"12,336,500,000",265988000000
28,"Dec 27, 2017",16163.50,16930.90,15114.30,15838.50,"12,487,600,000",270976000000
29,"Dec 26, 2017",14036.60,16461.20,14028.90,16099.80,"13,454,300,000",235294000000
...,...,...,...,...,...,...,...
1703,"May 27, 2013",133.50,135.47,124.70,129.75,-,1495520000
1704,"May 26, 2013",131.99,136.00,130.62,133.48,-,1478030000
1705,"May 25, 2013",133.10,133.22,128.90,131.98,-,1489950000
1706,"May 24, 2013",126.30,133.85,125.72,133.20,-,1413300000
1707,"May 23, 2013",123.80,126.93,123.10,126.70,-,1384780000
1708,"May 22, 2013",122.89,124.00,122.00,123.89,-,1374130000
1709,"May 21, 2013",122.02,123.00,121.21,122.88,-,1363940000
1710,"May 20, 2013",122.50,123.62,120.12,122.00,-,1368910000
1711,"May 19, 2013",123.21,124.50,119.57,121.99,-,1376370000
1712,"May 18, 2013",123.50,125.25,122.30,123.50,-,1379140000
1713,"May 17, 2013",118.21,125.30,116.57,123.02,-,1319590000
1714,"May 16, 2013",114.22,118.76,112.20,118.76,-,1274620000
1715,"May 15, 2013",111.40,115.81,103.50,114.22,-,1242760000
1716,"May 14, 2013",117.98,119.80,110.25,111.50,-,1315720000
1717,"May 13, 2013",114.82,118.70,114.50,117.98,-,1279980000
1718,"May 12, 2013",115.64,117.45,113.44,115.00,-,1288630000
1719,"May 11, 2013",117.70,118.68,113.01,115.24,-,1311050000
1720,"May 10, 2013",112.80,122.00,111.55,117.20,-,1255970000
1721,"May 09, 2013",113.20,113.46,109.26,112.67,-,1259980000
1722,"May 08, 2013",109.60,115.78,109.60,113.57,-,1219450000
1723,"May 07, 2013",112.25,113.44,97.70,111.50,-,1248470000
1724,"May 06, 2013",115.98,124.66,106.64,112.30,-,1289470000
1725,"May 05, 2013",112.90,118.80,107.14,115.91,-,1254760000
1726,"May 04, 2013",98.10,115.00,92.50,112.50,-,1089890000
1727,"May 03, 2013",106.25,108.13,79.10,97.75,-,1180070000
1728,"May 02, 2013",116.38,125.60,92.28,105.21,-,1292190000
1729,"May 01, 2013",139.00,139.89,107.72,116.99,-,1542820000
1730,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,1597780000
1731,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,1491160000
1732,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,1500520000

In [135]:
newVolume=[]
for number in df['Volume'][:1489]:
    lst=number.split(',')
    total=''
    for i in lst:
        total+=str(i)
    newVolume.append(int(total))
df['Volume']=pd.DataFrame(newVolume)
df

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jan 24, 2018",10903.40,11501.40,10639.80,11359.40,9.940990e+09,183419000000
1,"Jan 23, 2018",10944.50,11377.60,10129.70,10868.40,9.660610e+09,184087000000
2,"Jan 22, 2018",11633.10,11966.40,10240.20,10931.40,1.053740e+10,195645000000
3,"Jan 21, 2018",12889.20,12895.90,11288.20,11600.10,9.935180e+09,216740000000
4,"Jan 20, 2018",11656.20,13103.00,11656.20,12899.20,1.180170e+10,195979000000
5,"Jan 19, 2018",11429.80,11992.80,11172.10,11607.40,1.074040e+10,192150000000
6,"Jan 18, 2018",11198.80,12107.30,10942.50,11474.90,1.502040e+10,188242000000
7,"Jan 17, 2018",11431.10,11678.00,9402.29,11188.60,1.883060e+10,192123000000
8,"Jan 16, 2018",13836.10,13843.10,10194.90,11490.50,1.885380e+10,232517000000
9,"Jan 15, 2018",13767.30,14445.50,13641.70,13819.80,1.275080e+10,231334000000
10,"Jan 14, 2018",14370.80,14511.80,13268.00,13772.00,1.108410e+10,241447000000
11,"Jan 13, 2018",13952.40,14659.50,13952.40,14360.20,1.276360e+10,234391000000
12,"Jan 12, 2018",13453.90,14229.90,13158.10,13980.60,1.206570e+10,225986000000
13,"Jan 11, 2018",14968.20,15018.80,13105.90,13405.80,1.653410e+10,251387000000
14,"Jan 10, 2018",14588.50,14973.30,13691.20,14973.30,1.850080e+10,244981000000
15,"Jan 09, 2018",15123.70,15497.50,14424.00,14595.40,1.666000e+10,253935000000
16,"Jan 08, 2018",16476.20,16537.90,14208.20,15170.10,1.841390e+10,276612000000
17,"Jan 07, 2018",17527.30,17579.60,16087.70,16477.60,1.586600e+10,294222000000
18,"Jan 06, 2018",17462.10,17712.40,16764.60,17527.00,1.831460e+10,293091000000
19,"Jan 05, 2018",15477.20,17705.20,15202.80,17429.50,2.384090e+10,259748000000
20,"Jan 04, 2018",15270.70,15739.70,14522.20,15599.20,2.178320e+10,256250000000
21,"Jan 03, 2018",14978.20,15572.80,14844.50,15201.00,1.687190e+10,251312000000
22,"Jan 02, 2018",13625.00,15444.60,13163.60,14982.10,1.684660e+10,228579000000
23,"Jan 01, 2018",14112.20,14112.20,13154.70,13657.20,1.029120e+10,236725000000
24,"Dec 31, 2017",12897.70,14377.40,12755.60,14156.40,1.213630e+10,216326000000
25,"Dec 30, 2017",14681.90,14681.90,12350.10,12952.20,1.445260e+10,246224000000
26,"Dec 29, 2017",14695.80,15279.00,14307.00,14656.20,1.302550e+10,246428000000
27,"Dec 28, 2017",15864.10,15888.40,13937.30,14606.50,1.233650e+10,265988000000
28,"Dec 27, 2017",16163.50,16930.90,15114.30,15838.50,1.248760e+10,270976000000
29,"Dec 26, 2017",14036.60,16461.20,14028.90,16099.80,1.345430e+10,235294000000
...,...,...,...,...,...,...,...
1703,"May 27, 2013",133.50,135.47,124.70,129.75,NaN,1495520000
1704,"May 26, 2013",131.99,136.00,130.62,133.48,NaN,1478030000
1705,"May 25, 2013",133.10,133.22,128.90,131.98,NaN,1489950000
1706,"May 24, 2013",126.30,133.85,125.72,133.20,NaN,1413300000
1707,"May 23, 2013",123.80,126.93,123.10,126.70,NaN,1384780000
1708,"May 22, 2013",122.89,124.00,122.00,123.89,NaN,1374130000
1709,"May 21, 2013",122.02,123.00,121.21,122.88,NaN,1363940000
1710,"May 20, 2013",122.50,123.62,120.12,122.00,NaN,1368910000
1711,"May 19, 2013",123.21,124.50,119.57,121.99,NaN,1376370000
1712,"May 18, 2013",123.50,125.25,122.30,123.50,NaN,1379140000
1713,"May 17, 2013",118.21,125.30,116.57,123.02,NaN,1319590000
1714,"May 16, 2013",114.22,118.76,112.20,118.76,NaN,1274620000
1715,"May 15, 2013",111.40,115.81,103.50,114.22,NaN,1242760000
1716,"May 14, 2013",117.98,119.80,110.25,111.50,NaN,1315720000
1717,"May 13, 2013",114.82,118.70,114.50,117.98,NaN,1279980000
1718,"May 12, 2013",115.64,117.45,113.44,115.00,NaN,1288630000
1719,"May 11, 2013",117.70,118.68,113.01,115.24,NaN,1311050000
1720,"May 10, 2013",112.80,122.00,111.55,117.20,NaN,1255970000
1721,"May 09, 2013",113.20,113.46,109.26,112.67,NaN,1259980000
1722,"May 08, 2013",109.60,115.78,109.60,113.57,NaN,1219450000
1723,"May 07, 2013",112.25,113.44,97.70,111.50,NaN,1248470000
1724,"May 06, 2013",115.98,124.66,106.64,112.30,NaN,1289470000
1725,"May 05, 2013",112.90,118.80,107.14,115.91,NaN,1254760000
1726,"May 04, 2013",98.10,115.00,92.50,112.50,NaN,1089890000
1727,"May 03, 2013",106.25,108.13,79.10,97.75,NaN,1180070000
1728,"May 02, 2013",116.38,125.60,92.28,105.21,NaN,1292190000
1729,"May 01, 2013",139.00,139.89,107.72,116.99,NaN,1542820000
1730,"Apr 30, 2013",144.00,146.93,134.05,139.00,NaN,1597780000
1731,"Apr 29, 2013",134.44,147.49,134.00,144.54,NaN,1491160000
1732,"Apr 28, 2013",135.30,135.98,132.10,134.21,NaN,1500520000

In [132]:
df.index[df['Volume']=='-'].tolist()

[1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1525,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1686,
 1687,
 1688,
 1689,
 1690,
 1691,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1717,
 1718,
 1719,
 1720,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1732]

In [133]:
df['Volume'][1480:1492]

1480    72,898,500
1481    38,005,000
1482    37,810,100
1483    38,489,500
1484    22,489,400
1485    20,897,300
1486    20,707,700
1487    19,011,300
1488    32,505,800
1489    46,862,700
1490             -
1491             -
Name: Volume, dtype: object

In [136]:
df['Volume']

0       9.940990e+09
1       9.660610e+09
2       1.053740e+10
3       9.935180e+09
4       1.180170e+10
5       1.074040e+10
6       1.502040e+10
7       1.883060e+10
8       1.885380e+10
9       1.275080e+10
10      1.108410e+10
11      1.276360e+10
12      1.206570e+10
13      1.653410e+10
14      1.850080e+10
15      1.666000e+10
16      1.841390e+10
17      1.586600e+10
18      1.831460e+10
19      2.384090e+10
20      2.178320e+10
21      1.687190e+10
22      1.684660e+10
23      1.029120e+10
24      1.213630e+10
25      1.445260e+10
26      1.302550e+10
27      1.233650e+10
28      1.248760e+10
29      1.345430e+10
            ...
1703             NaN
1704             NaN
1705             NaN
1706             NaN
1707             NaN
1708             NaN
1709             NaN
1710             NaN
1711             NaN
1712             NaN
1713             NaN
1714             NaN
1715             NaN
1716             NaN
1717             NaN
1718             NaN
1719             NaN
1720             NaN
1721             NaN
1722             NaN
1723             NaN
1724             NaN
1725             NaN
1726             NaN
1727             NaN
1728             NaN
1729             NaN
1730             NaN
1731             NaN
1732             NaN
Name: Volume, Length: 1733, dtype: float64